<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/auth.css">
    <title>Dashboard</title>
</head>

<body>

    <div id="navbar">
        <ul>
            <li id="tarefas">Tarefas</li>
            <li id="item-imagem-usuario">
                <img src="images/usuario-1.png" alt="" id="usuario">
            </li>
            <li id="item-usuario">
                <a href="./">
                    <p id="nome-usuario">Eizeu Dias</p>
                    <p id="logout">Fazer logout</p>
                </a>
            </li>
        </ul>
    </div>

    <h1>Dashboard</h1>
</body>

</html>