* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #6d6d6d;
}

.title-main {
  font-size: 30px;
  font-weight: 700;
  color: #6033df;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5.4375rem;
  margin-bottom: 2.25rem;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.our-team {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}

.our-team li h3 {
  font-size: 17px;
  font-weight: 700;
  margin-top: 0.625rem;
}

.our-team li h4 {
  font-size: 12px;
  font-weight: 400;
}

.our-team li a {
  display: block;
  color: #6d6d6d;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.our-team li a:hover {
  text-decoration: underline;
}

.our-team li a img {
  width: 10px;
  margin-right: 2px;
}

@media screen and (max-width: 500px) {
  .our-team {
    display: block;
  }

  .our-team li {
    margin-top: 1.875rem;
  }

  .our-team li:last-child {
    margin-bottom: 1.875rem;
  }
}

@media screen and (max-width: 185px) {
  .title-main {
    font-size: 20px;
  }
}

.btt {
  border: 2px solid #6033df;
  box-sizing: border-box;
  border-radius: 7px;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  padding: 6px 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6033df;
  outline: none;
}

#comecarbt {
  width: 333px;
  height: 55px;
  left: 541px;
  top: 966px;
  margin: 0 auto 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  justify-content: center;
}

#imagem {
  width: 430px;
  height: 315px;
  left: 486px;
  top: 235px;
  margin: 0 auto 0 auto;
}

#tarefas1 {
  width: 398px;
  height: 75.64px;
  left: 508px;
  top: 586px;
  margin: 0 auto 0 auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 112px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #474747;
}

#tarefas2 {
  width: 553px;
  height: 43px;
  left: 434px;
  top: 728px;
  margin: 0 auto 0 auto;
  color: #6033df;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#texto {
  width: 684px;
  height: 108px;
  left: 359px;
  top: 791px;
  margin: 0 auto 0 auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  color: #858585;
}

#rodape {
  background: #6033df;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13.39px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 56.08px;
  margin: 100px auto 0 auto;
}

#rodape ul {
  float: right;
  display: table;
  margin: 0 0 0 10px;
}

#rodape ul li {
  display: table-cell;
  position: flex;
  margin: 0 0 0 10px;
  align-items: center;
}

#github {
  font-family: "Poppins";
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
  margin: 0 0 0 10px;
  font-size: 12px;
}
